![login](https://user-images.githubusercontent.com/7648874/52663083-c9b4ea00-2f40-11e9-9783-bf36fd88e4bb.png)

As we're probably all familiar with WhatsApp, the app surrounds around authentication. It's a very crucial part because without authentication there would be no way to identify users and who communicates with whom. On top of all we would like to keep things private, because we don't want personal information to leak to other people. Although the original WhatsApp uses phone authentication with an SMS code, in our app we're gonna keep things simple and use a basic authentication.

The authentication flow in the front-end app is simple and consists of the following:

- Sign-Up
- Sign-In
- Settings
- Sign-Out

The more complicated part comes when we have to match each data with its owner and check if a user is authorized to perform an operation or not.

### Server authentication

Authentication is a hot topic in the GraphQL world and there are some projects which aim at authenticating through GraphQL. Since often you will be required to use a specific auth framework (because of a feature you need or because of an existing authorization infrastructure) I will show you how to use a classic REST API framework within your GraphQL application. This approach is completely fine and in line with the official GraphQL best practices. We will use `Passport` for the authentication and `BasicAuth` as the auth mechanism:

    $ yarn add bcrypt-nodejs@0.0.3 passport@0.4.0 passport-http@0.3.0
    $ yarn add -D @types/bcrypt-nodejs@0.0.30 @types/passport@1.0.0 @types/passport-http@0.3.7

`BasicAuth` is basically responsible for sending a username and password in an Authorization Header together with each request and it's fully supported by any browser (meaning that we will be able to use Graphiql simply by proving username and password in the login window provided by the browser itself). It's the most simple auth mechanism but it's completely fine for our needs. Later we could decide to use something more complicated like JWT, but it's outside of the scope of this tutorial.

We will connect the auth logic to our Express app within the auth GQLModule. Indeed, GQLModules can also be used to apply logic which is not directly related to GraphQL. This method is excellent because it ensures that our GraphQL resolvers will be set with the right infrastructure right out of the box and we can safely reuse the module:

{{{ diffStep 2.1 module="server" files="app, modules/auth" }}}

We are going to store hashes instead of plain passwords, that's why we're using `bcrypt-nodejs`. With `passport.use('basic-signin')` and `passport.use('basic-signup')` we define how the auth framework deals with our database. `app.post('/signup')` is the endpoint for creating new accounts, so we left it out of the authentication middleware (`app.use(passport.authenticate('basic-signin')`).

We will also add an additional query called `me` which will simply return the user which is currently logged in. This will come in handy in the client:

{{{ diffStep 2.1 module="server" files="modules/user" }}}

### Client authentication

To make things more convenient, we will create a dedicated authentication service under a separate module called `auth.service.tsx`. The auth service will take care of:

- Performing sign-in/sign-up against the server.
- Storing received auth token in local storage.
- Providing a wrapper around guarded routes that require authorization.

{{{ diffStep 2.1 module="client" files="src/services, src/graphql" }}}

The service also includes a `useMe()` GraphQL hook that will fetch the current user. Its definition is separate since it's used vastly and shared between many components.

Since we're using token oriented authentication, it means that any time we make a request to our GraphQL back-end we would need to authorize ourselves by sending this token. This can easily be done thanks to Apollo. By setting the client correctly we can automatically set the headers and parameters for each request that is being done.

{{{ diffStep 2.1 module="client" files="src/apollo-client.ts" }}}

This would require us to install a package called `apollo-link-context`:

    $ yarn add apollo-link-context@1.0.14

Now that we have that mechanism implemented we need a way to access it. For that purpose we will be implementing a sign-in form and a sign-up form. Once we create a user and sign-in we will be promoted to the main chats list screen.

{{{ diffStep 2.2 module="client" files="src/components/AuthScreen" }}}

If you'll look at the main AuthScreen component you'll see that we use a router to alternate between the sign-in and the sign-up forms. That's the meaning behind a Switch component. However, you can also notice that we use an AnimatedSwitch. As it sounds, this component will ensure that transition between routes is animated. This upgrade our UX in the app, and it is also designated to be used across other routes. If so, let's implement it. First we will need to install a package called `react-router-transition`:

    $ yarn add react-router-transition@1.2.1

This will enable the transition between the routes. However, we will need to specify the characteristics of the transition, so, let's implement our own version of AnimatedSwitch:

{{{ diffStep 2.2 module="client" files="src/components/AnimatedSwitch" }}}

As shown in the screenshot at the top of this page, the auth screen includes few assets that we should download: a background picture and a logo. Please download the assets below and save them in the `public/assets` directory as `chat-background.jpg` and `whatsapp-icon.jpg` respectively:

![chat-background.jpg](https://user-images.githubusercontent.com/7648874/51983290-3f49a080-24d3-11e9-9de9-cf57354d1e3a.jpg)

![whatsapp-icon.jpg](https://user-images.githubusercontent.com/7648874/52662552-768e6780-2f3f-11e9-931c-36a5c13ca49b.png)

So following that, we would need to define a router that will handle changes in routes. We will be using `react-router-dom`:

    $ yarn add react-router-dom@4.3.1

Now that we have it let's define our routes. Note how we take advantage of the `withAuth()` method to guard our routes and make them available only to users who are authorized:

{{{ diffStep 2.3 module="client" files="src/App" }}}

Since in our auth service we basically check if the user is logged in by actually querying the server with a React hook, we will need to use a Suspense component that will catch the pending request.

{{{ diffStep 2.3 module="client" files="src/index" }}}

> It's highly recommended to go through the [docs of Suspense](https://reactjs.org/docs/react-api.html#reactsuspense) before you proceed if you're not familiar with it.

Perfect. Now we can sign-in and sign-up, and we can view chats which belong to us. Now we're gonna implement the settings screen, where we will be able to set our profile details, such as name and picture. Let's keep the image uploading thing for a bit later, we will focus on the component itself first. The settings screen layout includes:

- A navbar.
- A form with inputs.

Accordingly, the implementation of the screen should look like so:

{{{ diffStep 2.4 module="client" files="src/components" }}}

The `optimisticResponse` object is used to predict the response so we can have it immediately and the `update` callback is used to update the cache. Anytime we receive a response from our GraphQL back-end we should update the cache, otherwise the data presented in our app will be out-dated.

The user should be updated on 2 scenarios: Either we loose focus on the name input or we upload a new image. We used the [`useEffect`](https://reactjs.org/docs/hooks-effect.html) to determine changes in the profile picture URL and trigger an update.

We will need to update our back-end to have an `updateUser` mutation:

{{{ diffStep 2.2 module="server" files="modules/user" }}}

Remember that a user could be correlated to a chat, for example, if a user changes its information such as name or picture, the chat informationshould be changed as well. This means that we will need to listen to changes with a [subscription](https://www.apollographql.com/docs/react/advanced/subscriptions.html) and update our cache accordingly.

Since `react-apollo-hooks` doesn't have a built-in `useSubscription()` hook as for version `0.3.1`, we will implement a polyfill that will do exactly that. First we will ad a utility package:

    $ yarn add react-fast-compare@2.0.4

And then we will implement the `useSubscription()` hook:

{{{ diffStep 2.5 module="client" files="src/polyfills" }}}

Then we will define the subscription document and listen to it in a dedicated service called `cache.service`, which is responsible for updating the cache:

{{{ diffStep 2.5 module="client" files="src/graphql, src/services/cache" }}}

We should listen to subscriptions only once we're logged-in, therefore let's use the `useSubscriptions()` hook that we've just created in the `auth.service`:

{{{ diffStep 2.5 module="client" files="src/services/auth" }}}

Now we will have to implement the subscription in our server. GraphQL subscriptions are a way to push data from the server to the clients that choose to listen to real time messages from the server. To trigger a subscription event we will use a method called `publish` which is used by a class called `PubSub`. Pubsub sits between your application's logic and the GraphQL subscriptions engine - it receives a publish command from your app logic and pushes it to your GraphQL execution engine. This is how it should look like in code, in relation to `chatUpdated` subscription:

{{{ diffStep 2.3 module="server" }}}

> See [official Apollo subscription docs page](https://www.apollographql.com/docs/apollo-server/features/subscriptions.html).

Note that we've added a second `updateUser()` resolver in addition to the one which already exists in the `user` module. Reason being is because we want to keep the `user` module independent from the `chat` module, and so we apply logic on top of the existing one. GQLModule's engine will execute the resolvers in the right order based on the injected dependencies tree, so you shouldn't worry much about execution.

I'd like to get back to the image uploading feature. Although it can be implemented manually, we will be using an external service for storing images. This is much more convenient: it will save us a lot of implementation, it's probably more secure, and it has built-in features such as transformation and projection.

We will be using [Cloudinary](https://cloudinary.com/) as our storage service. A Cloudinary instance should be set for each application separately, but for the sake of demonstration we will use an instance that we set up for the public, but just know **that you should never reveal the credentials of any service that you set up**.

First of all be sure to open an account and setup your basic app information in Cloudinary.

Then, add a new preset called `profile-pic` where we will be resettings uploaded images' dimensions to 300px by 300px. More information on how to do that can be found in [here](https://support.cloudinary.com/hc/en-us/articles/360004967272-Upload-Preset-Configuration).

![upload-picture-settings](https://user-images.githubusercontent.com/7648874/51096173-a984f480-17f5-11e9-893f-5227e2c564af.jpg)

Up next, we will implement the appropriate route in our app's server. The reason we don't upload the image directly to the cloud service directly from our application is because **we risk exposing some sensitive data regards the service and some users may abuse it**. We will start by installing the right packages:

    $ yarn add tmp@0.0.33 multer@1.4.1 cloudinary@1.13.2
    $ yarn add -D @types/tmp@0.0.33 @types/multer1.3.7

We will also write custom TypeScript definitions for the `cloudinary` package since they don't exist:

{{{ diffStep 2.4 module="server" files="cloudinary.d.ts" }}}

Then we will set the right API keys in the `.env` file:

{{{ diffStep 2.4 module="server" files=".env" }}}

The purpose of the `.env` file is to load environment variables into our app in a more comfortable way. For that to apply we will need to install and require a package which is called [`dotenv`](https://www.npmjs.com/package/dotenv).

    $ yarn add dotenv@6.2.0

{{{ diffStep 2.4 module="server" files="index" }}}

> See [Cloudinary's NodeJS API](https://cloudinary.com/documentation/node_integration).
> See [API setup](https://cloudinary.com/documentation/solution_overview#account_and_api_setup).

And finally, we will implement a REST endpoint in the `user` module under `/upload-profile-pic`:

{{{ diffStep 2.4 module="server" files="modules/user" }}}

Now getting back to the client, we will implement a `picture.service` that will be responsible for uploading images in our application:

{{{ diffStep 2.6 module="client" files="src/services/picture" }}}

And we will use it in the settings screen:

{{{ diffStep 2.6 module="client" files="src/components" }}}

The settings component is complete! We will connect it to the main flow by implementing the pop-over menu at the top right corner of the main screen where we will be able to navigate to the settings screen and sign-out:

{{{ diffStep 2.7 module="client" }}}
